@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/effects';
@import '../../styles/abstracts/mixins';

.infoTitleSection {
  font-size: map-get($font-sizes, medium);
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 35px;
}

.bayTitleSection {
  font-size: map-get($font-sizes, medium);
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 35px;
}

.tableContainer {
  background-color: $dark800;
  border: 1px solid $dark500;
  border-radius: map-get($border-radiuses, 'sm');
  min-height: 50vh;
  // box-shadow: 0px 4px 87px 27px rgba(165, 140, 102, 0.15);
  @include glow-shadow;
  @include respond-to('xs') {
    overflow-x: auto;
  }
  margin-bottom: 50px;
}

.headerRow {
  font-style: normal;
  line-height: 20px;
  color: #aaaaaa;
}

.bay {
  &-item {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    &-name {
      color: $dark200;
    }
    &-address {
      color: $green500;
    }
  }
}
