@use 'sass:math';
@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/mixins';

$alignItems: (start, end, center, stretch);
$alignContent: (start, end, center, stretch, space-between, space-around);
$justifyItems: (start, end, center, stretch);
$justifyContent: (
  start,
  end,
  center,
  stretch,
  space-around,
  space-between,
  space-evenly
);
$gaps: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 36px,
);

.grid {
  display: grid;
  height: 100%;

  // Auto-flow row
  &-flow-row {
    grid-auto-flow: row;
  }

  &-flow-col {
    grid-auto-flow: column;
  }

  // Responsive 2D dimensions
  @each $bp, $value in $breakpoints {
    // Template Columns
    @include respond-to($bp) {
      @for $i from 1 to 13 {
        &-cols-#{$i}\@#{$bp} {
          grid-template-columns: repeat($i, minmax(0, #{$i}fr));
        }
      }

      // Template Rows
      @for $i from 1 to 13 {
        &-rows-#{$i}\@#{$bp} {
          grid-template-rows: repeat($i, minmax(0, #{$i}fr));
        }
      }
    }
  }
}

@each $bp, $value in $breakpoints {
  @include respond-to($bp) {
    // Row gap
    @each $size, $value in $gaps {
      .gap-row-#{$size}\@#{$bp} {
        row-gap: $value;
      }
    }
    // Column gap
    @each $size, $value in $gaps {
      .gap-col-#{$size}\@#{$bp} {
        column-gap: $value;
      }
    }

    // Justify content
    @each $value in $justifyContent {
      .justify-content-#{$value}\@#{$bp} {
        justify-content: $value;
      }
    }

    // Justify items (GRID Only)
    @each $value in $justifyItems {
      .justify-items-#{$value}\@#{$bp} {
        justify-items: $value;
      }
    }

    // Align items
    @each $value in $alignItems {
      .align-items-#{$value}\@#{$bp} {
        align-items: $value;
      }
    }

    // Align content
    @each $value in $alignContent {
      .align-content-#{$value}\@#{$bp} {
        align-content: $value;
      }
    }
  }
}
