@use 'sass:map';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/effects';
@import '../../styles/abstracts/mixins';

$container-height: 700px;

.container {
  margin: 0px auto;
  padding: 40px 60px;
  height: 100%;
  position: relative;
  margin-bottom: 70px;
}

.subContainer {
  position: relative;
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 25px 30px;
  height: 100%;
  // &:first-child {
  //   width: 80%;
  // }
  // overflow: auto;
  border: 1px solid $dark500;
  @include glow-shadow;

  &_separator {
    width: 100%;
    height: 3px;
    background-color: $dark600;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header {
    .tab {
      flex: 1;
      &_active {
        background-color: $teal500;
        &:hover {
          background-color: $teal700 !important;
        }
      }
      &:hover {
        background-color: $dark700;
      }
      color: $dark100;
      background: transparent;
      transition: 0.3s;
      border: unset;
      cursor: pointer;
      font-weight: bold;
      padding: 0px 35px;
      font-size: 14px;
      border-radius: 5px;
    }
  }
}

.inputButton {
  background-color: $dark600;
  padding: 5px 10px;
  border-radius: 5px;
  border: unset;
  color: $dark100;
  font-weight: bold;
}

.inner {
  display: none;
}

.rowItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  .metaLabel {
    font-weight: 400;
    color: $dark200;
  }
  .metaContent {
    font-size: 16px;
  }
}

.metaContainer {
  color: white;
  font-size: map-get($font-sizes, regular);
  .bayName {
    font-weight: 'bold';
    font-size: map-get($font-sizes, medium);
  }
  .bayAddress {
    color: $green500;
    font-size: map-get($font-sizes, regular);
    margin-bottom: 10px;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  color: white;
  &_leftSide {
    span {
      color: $green500;
      margin-left: 10px;
    }
  }
  &_rightSide {
    background-color: $dark600;
    padding: 0px 20px;
    border-radius: 5px;
    span {
      color: yellow;
    }
  }
}

.bottomContainer {
  .rowItem {
    p {
      font-size: 13px;
    }
    margin-bottom: 10px;
  }
}

.bayInfo {
  color: white;
}
