/** Global variables module **/
// Dark Palette
$dark100: #ebebeb;
$dark200: #d6d6d6;
$dark300: #c2c2c2;
$dark400: #666666;
$dark500: #4a4a4a;
$dark600: #333333;
$dark700: #252525;
$dark800: #1b1b1b;
$dark900: #000000;

// Teal palette
$teal100: #7ef8ec;
$teal200: #70e0d5;
$teal300: #69d4ca;
$teal400: #5bbbc8;
$teal500: #4e9ea8;
$teal600: #4c9594;
$teal700: #3b7475;
$teal800: #2d5657;
$teal900: #1e3a3b;

:export {
  dark100: $dark100;
  dark200: $dark200;
  dark300: $dark300;
  dark400: $dark400;
  dark500: $dark500;
  dark600: $dark600;
  dark700: $dark700;
  dark800: $dark800;
  dark900: $dark900;
  teal100: $teal100;
  teal200: $teal200;
  teal300: $teal300;
  teal400: $teal400;
  teal500: $teal500;
  teal600: $teal600;
  teal700: $teal700;
  teal800: $teal800;
  teal900: $teal900;
}
