$theme-colors: (
  'primary': red,
  'secondary': blue,
  'light-text': #aaaaaa,
  'light-green': #49fdc0,
);

$border-radius: (
  'sm': 10,
  'md': 15,
  'lg': 20,
);

$font-size: (
  'large-header': 25px,
  'header': 17px,
  'text': 14px,
);
