@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/mixins';

.header {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: $dark700;
  @include respond-to('sm') {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding-bottom: 10px;
  }

  @include respond-to('md') {
    padding-top: 10px;
    display: inline-flex;
    flex-direction: row;
    height: $header-height;
    gap: 42px;
    width: 100vw;
    border-bottom: 1px solid $dark400;
  }
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLink {
  color: $dark200;
  font-size: map-get($font-sizes, medium);
  font-style: normal;
  font-weight: normal;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    color: $dark0;
  }
}

.headerLogo {
  display: inline-flex;
  font-weight: 800;
  padding: 14px 16px;
  text-decoration: none;
  span {
    background: -webkit-linear-gradient($teal400, #49fdc0);
    font-size: map-get($font-sizes, large);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.network {
  border-radius: 5px;
  background-color: $dark900;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0px 20px;
  margin-right: 10px;
}

.wallet {
  display: flex;
  background-color: $dark500;
  border: unset;
  color: $dark100;
  width: 330px;
  border-radius: 5px;
  height: 32px;
  padding: 2px 20px;
  align-items: center;
  justify-content: space-between;
  .balance {
    display: inline-flex;
    font-size: 17px;
  }
  .address {
    font-size: map-get($font-sizes, regular);
  }
  &:hover {
    background: $dark600;
    cursor: pointer;
    transition: 0.3s;
  }
}

.dropdown {
  &_container {
    justify-content: center;
    align-items: center;
  }
  &_base {
    background-color: $dark500;
    padding-left: 10px;
    border-radius: 5px;
    border-color: $dark600;
    cursor: pointer;
  }
  &_menu {
    z-index: 1000;
    background-color: $dark300;
    border-color: unset;
    border-radius: 10px;
  }
  &_placeholder {
    color: $dark300;
  }
}

.inputButton {
  color: white;
  background-color: $dark600;
  padding: 5px 10px;
  border-radius: 5px;
  border: unset;
  font-weight: bold;
}
