@use 'sass:map';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/mixins';

$container-height: fit-content;

.container {
  margin: 0px auto;
  padding: 30px 60px;
}

.subContainer {
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 25px 30px;
  height: $container-height;
  border: 1px solid $dark500;
}

.inputButton {
  background-color: $dark600;
  padding: 5px 10px;
  border-radius: 5px;
  border: unset;
  color: white;
  font-weight: bold;
}

.inner {
  display: none;
}

.rowItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 5px;
  .metaLabel {
    font-weight: 400;
    color: $dark200;
  }
  .metaContent {
    font-size: 16px;
  }
}

.metaContainer {
  color: white;
  font-size: map-get($font-sizes, regular);
  .bayName {
    font-weight: 'bold';
    font-size: map-get($font-sizes, medium);
  }
  .bayAddress {
    color: #49fdc0;
    font-size: map-get($font-sizes, regular);
    margin-bottom: 10px;
  }
  .separator {
  }
}

.bottomContainer {
  .rowItem {
    p {
      font-size: 13px;
    }
    margin-bottom: 10px;
  }
}

.bayInfo {
  color: white;
}
