@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/effects';

.container {
  margin-top: 35px;
  min-height: 85vh;
  background-color: $dark800;
  border: 1px solid $dark500;
  box-sizing: border-box;
  border-radius: map-get($border-radiuses, 'sm');
  @include glow-shadow;
}

.inputButton {
  background-color: $dark600;
  padding: 5px 10px;
  border-radius: 5px;
  border: unset;
  color: white;
  font-weight: bold;
}

.tableContainer {
  padding: 25px;
}

.tableRow {
  cursor: pointer;
  outline: 1px solid #4a4a4a;
  box-sizing: border-box;
  border-radius: 10px;
}

.divider {
  width: 100%;
  height: 9px;
  background: rgba(90, 179, 200, 0.23);
}

.myBaysHeaderSection {
  padding: 25px;
}

.baySearchInput {
  width: 377px;
}

.firstItem {
  margin-right: auto;
  color: #fff;
  font-size: map-get($font-sizes, medium);
}

.headerRow {
  font-style: normal;
  line-height: 20px;
  color: #aaaaaa;
}

.bay {
  &-item {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    height: 85px;
    &-name {
      color: #fff;
    }
    &-address {
      color: $green500;
    }
  }
}
