@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/effects';
@import '../../styles/abstracts/mixins';
.container {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 100%;
  min-height: 100%;
  &_item {
    // background-color: $dark700;
    text-align: center;
  }
}
